{% load static %}
<link rel="stylesheet" href="{% static 'chat/css/style.css' %}">

<!-- chat/templates/chat/pdb.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>ChatGPDB Information</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
</head>
<body>
    <div class="centered">
        <textarea id="chat-log" readonly></textarea><br>
        <input class="btn btn-primary btn-lg btn-block" id="back-submit" type="button" value="Back">
    </div>
    <!--
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    -->
    {{ pdb_id|json_script:"pdb-id" }}
    <script>
        const pdbId = JSON.parse(document.getElementById('pdb-id').textContent);

        console.log(window.location.host)

        var protocol = "ws://";
        if (window.location.protocol == "https:") {
            protocol = "wss://";
        }

        const chatSocket = new WebSocket(
            protocol
            + window.location.host
            + '/ws/chat/'
            + pdbId
            + '/'
        );

        var textToAdd = ""
        var closed = false;

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            textToAdd += data.message;
        };

        function writeText() {
            var i = 0;
            var speed = 8;
            function typeWriter() {
                if (i < textToAdd.length) {
                    document.querySelector("#chat-log").value += textToAdd.charAt(i);
                    i++;
                    setTimeout(typeWriter, speed);
                } else if (!closed) {
                    setTimeout(typeWriter, speed);
                }
            }
            typeWriter();
        }

        writeText();

        chatSocket.onclose = function(e) {
            closed = true;
        };
    </script>

    <script>
        document.querySelector('#back-submit').onclick = function(e) {
            window.location.pathname = '/';
        };
    </script>
</body>
</html>